# Snakemake
.snakemake/
*.snakemake.*

# Conda environments (created by --use-conda)
.snakemake/conda/

# Singularity images (large, user-built)
*.sif

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test outputs
.tests/output/

# visualization
pipeline_rulegraph.svg
pipeline_rulegraph.dot

# test files
config/annotation_markers_DEPRECATED.tsv
config/cluster_annotations_FIXED_OLD.tsv
config/cluster_annotations_OLD.tsv
config/cluster_annotations_SPECIFIC.tsv
config/core_samples_EXAMPLE.tsv
config_EXT_ann.yaml

# Results (these live on scratch, not in the repo)
# Adjust if you prefer to track them
